# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.egg-info/
*.egg
env/
venv/
.venv/
ENV/

# Databases
*.db
*.db-journal
*.sqlite3
*.mdf
*.ldf

# Logs
*.log

# Environment variables
.env
*.env

# OS files
Thumbs.db
.DS_Store

# VSCode / IDEs
.vscode/
.idea/
*.code-workspace

# Render / Deployment
*.tar.gz
*.bak
